<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>template is working</title>
</head>
<body>
 <h1> welcome to text analyers . enter your text below </h1>
 <form action='/analyze' method='get'> 
  <textarea name='text' style=' margin:0px; width: 1759px;
    height: 278px;'></textarea>
    <input type="checkbox" name="removepunc">removepunc<br>
    <input type="checkbox" name="fullcaps" >UPPERCASE<br>
    <input type="checkbox" name="newlineremover" >new line remover<br>
    <input type="checkbox" name="extraspaceremover" >extra space remover<br>
    <input type="checkbox" name="char count" >char count<br>
    <button type='submit'>Analyze text </button>
     
 </form>

   
</body>
</html>
